
.ipynb_checkpoints/BancarioDefinitivo (3)-checkpoint.ipynb
.ipynb_checkpoints/BancoDefinitivo5-checkpoint.ipynb
.ipynb_checkpoints/easytree-checkpoint.ipynb
.ipynb_checkpoints/SegmentacionCliente1-checkpoint.ipynb
commercial_activity_df.csv
products_df.csv
sociodemographic_df.csv
